/* Container for the exercise card */
.exercise-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  flex: 1 1 calc(33.333% - 32px);
  padding-bottom: 45px;
}

/* Add hover effect for the card */
.exercise-card:hover {
  transform: translateY(-5px);
}

/* Styling for the card header */
.card-header {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styling for the exercise name */
.exercise-name {
  font-size: 24px;
  color: #333;
  padding-top: 10px;
}

/* Styling for the exercise details */
.exercise-card p {
  margin: 8px 0;
  font-size: 16px;
  color: #666;
}

/* Styling for the save button */
.save-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Add hover effect for the save button */
.save-button:hover {
  background-color: #0056b3;
}

/* Disabled button styling */
.save-button:disabled {
  background-color: #49c271;
  cursor: not-allowed;
}

/* Styling for the remove button */
.remove-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Add hover effect for the remove button */
.remove-button:hover {
  background-color: #a41927;
}

/* Styling for the no saved exercises message */
.no-saved-exercises-message {
  font-size: 18px;
  color: red;
  text-align: center;
  margin: 20px 0;
}
