/* Container for the search exercises section */
.search-exercises-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 10%;
}

/* Styling for the saved exercises container */
.saved-exercises-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the search exercises sections */
.search-exercises-section {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for the headers */
.search-exercises-header,
.saved-exercises-header {
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
}

.search-exercises-header h1,
.saved-exercises-header h1 {
  font-size: 30px;
  max-width: 400px;
  margin: 0 auto;
  color: #333;
}

/* Styling for the search form */
.search-form-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 25px;
}

.search-form-container input {
  width: calc(100% - 100px);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* Styling for the search button */
.search-form-container button {
  width: 100px;
  padding: 12px;
  background-color: #0e5eb4;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
}

.search-form-container button:hover {
  background-color: #1d7fe9;
}

/* Styling for the search results and saved exercises */
.search-results {
  margin-top: 25px;
  width: 100%;
}

.search-results-header,
.saved-exercises-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.search-results-list,
.saved-exercises-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the exercise card container */
.exercise-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

/* Styling for messages */
.no-results-message,
.exercise-data-not-found,
.loading-message,
.error-message {
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.no-results-message,
.exercise-data-not-found,
.no-saved-exercises {
  color: red;
}

.loading-message {
  color: blue;
}

.error-message {
  color: red;
}

/* Additional styling for exercise data not found message */
.exercise-data-not-found {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
}

/* Media queries for responsive design */

/* Small screens (mobile devices) */
@media (max-width: 600px) {
  .search-exercises-container,
  .saved-exercises-container {
    flex-direction: column;
    align-items: center;
  }

  .saved-exercises-container {
    order: 1;
  }

  .search-exercises-section {
    order: 2;
  }

  .search-form-container input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
  }
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 900px) {
  .search-exercises-container,
  .saved-exercises-container {
    flex-direction: column;
    align-items: center;
  }

  .saved-exercises-container {
    order: 1;
  }

  .search-exercises-section {
    order: 2;
  }

  .search-form-container input {
    width: calc(100% - 120px);
  }

  .search-form-container button {
    width: 120px;
  }

  .exercise-card-container {
    max-width: 90%;
  }
}

/* Large screens (desktops) */
@media (min-width: 901px) and (max-width: 1200px) {
  .search-exercises-container,
  .saved-exercises-container {
    flex-direction: column;
    align-items: center;
  }

  .saved-exercises-container {
    order: 1;
  }

  .search-exercises-section {
    order: 2;
  }

  .search-form-container input {
    width: calc(100% - 120px);
  }

  .search-form-container button {
    width: 120px;
  }

  .exercise-card-container {
    max-width: 90%;
  }
}

/* Specific range for widths between 961px and 1011px */
@media (min-width: 961px) and (max-width: 1011px) {
  .search-exercises-container,
  .saved-exercises-container {
    flex-direction: column;
    align-items: center;
  }

  .saved-exercises-container {
    order: 1;
  }

  .search-exercises-section {
    order: 2;
  }

  .search-form-container input {
    width: calc(100% - 120px);
  }

  .search-form-container button {
    width: 120px;
  }

  .exercise-card-container {
    max-width: 90%;
  }
}
